body {
  height: 100%;
  background-color: $white;

}

article .article-image {
  background-color: $blue-de-frace;

}

header .header-yellow {
  background-color: #fa482c
}

header .header-arrow {
  background-color: $flame;
}
