//esquemas de colores

//primer esquema de colores
$white: #fff;
$isabelline: #eeeded;
$sapanish-grey: #989797;

//segundo esquema de colores
$coral: #fa824c;
$buff: #f1dd7b;
$vanilla: #f5e7a1;

//tercer esquema de colores
$flame: #e4572e;
$light-ochre: #e87554;
$pastel-pink: #f2b2a0;

//cuarto esquema de colores
$shiny-shamrock: #4ca866;
$turquoise-green: #9dcfab;
$pastel-gray: #bddfc7;

//quinto esquema de colores
$blue-de-frace: #3c91e6;
$blue-jeans: #3c91e6;
$jordy-blue: #82b9ef;

//tipografía
$pt-mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

//tamaño de fuente
$regular: 400;
$light: 300;


//peso de fuente
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large:18px;
$medium: 16px;
